<div class="container animated fadeIn" *ngIf="formulario">
    <div class="row">
        <div class="mt-12 col-sm-12 col-md-10 col-lg-7 centrar-div">
            <mdb-card>
                <!--Card image-->
                <mdb-card-img src="assets/img/home.jpg" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title cascade="true" class="text-center">
                        <h2>
                            <strong>Bienvenido</strong>
                        </h2>
                        <h5 class="indigo-text">
                            <strong>Tu computadora en un clic</strong>
                        </h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text cascade="true" class="text-center">
                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-toggle="modal" data-target="#exampleModalLongSC">Empezar</button>
                    </mdb-card-text>
                    <!-- <i class="fas fa-chevron-right pl-1"></i> -->
                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>


        </div>
    </div>
</div>

<div class="container animated fadeIn" *ngIf="!formulario">
    <h1>Listado Posts</h1>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <!-- <div class="form-group"> -->
            <mat-form-field style="display: block;">
                <!-- <input id="identificador" type="text" placeholder="Filtered autocomplete" aria-label="Number" matInput [formControl]="myControlAuto" [matAutocomplete]="auto" (keyup.enter)="especificaComputer()"> -->
                <input id="identificador" type="text" placeholder="Filtered autocomplete" aria-label="Number" matInput [formControl]="myControlAuto" [matAutocomplete]="auto">
                <!-- <input type="text" class="form-control" name="filterPost" placeholder="Search..."> -->
                <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="click(option)" type="button" data-toggle="modal" data-target="#especificPc">
                        <!-- <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="click(option)" type="button"> -->
                        {{option}}
                    </mat-option>
                    <!--
                    <textarea [(ngModel)]="areaText" class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="6" placeholder="Descripcion De Tu Equipo Perpecto"></textarea> -->
                </mat-autocomplete>
            </mat-form-field>
            <!-- </div> -->
        </div>
    </div>

    <br>

    <div class="row">
        <div class="mt-5 col-12 col-sm-12 col-md-4 col-lg-4" *ngFor="let computadora of computadoras;let i = index">
            <mdb-card>
                <!--Card image-->

                <mdb-card-img style="height: 120px; width: 190px; " class="mx-auto" [src]="computadora.img" alt="Card image cap">
                    <!-- <mdb-card-img style="height: 180px; width: 200px" class="rem-dimensions" [src]="computadora.img" alt="Card image cap"> -->
                    <!-- <img [src]="computadora.img" class="rem-dimensions"> -->
                </mdb-card-img>

                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title cascade="true" class="text-center">
                        <!-- <h2> -->
                        <h4>
                            <strong>  {{computadora.marca}} {{ computadora.modelo }}</strong>
                        </h4>
                        <!-- </h2> -->
                        <h5>
                            <strong>Precio</strong>
                            <h6 class="indigo-text">
                                <strong>  $ {{ computadora.precio }}</strong>
                            </h6>
                        </h5>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text cascade="true" class="text-center rem-dimensions">
                        <button type="button" class="btn btn-secondary waves-effect waves-light" data-toggle="modal" data-target="#caracteristicas">Empezar</button>
                    </mdb-card-text>

                    <!-- <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <!-- <div class="row"> -->
    <br>

    <!-- </div> -->
</div>


<!-- SEGUNDA VENTANA -->
<div class="modal fade" id="exampleModalLongSC" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitleSC" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitleSC">Encuesta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>

            <div class="modal-body">
                <h2 class="text-center">Que eres ?</h2>
                <div class="centrar">

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Estudiante" (change)="agregarOcupacion($event)">
                        <label class="custom-control-label" for="Estudiante">Estudiante</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Diseñador" (change)="agregarOcupacion($event)">
                        <label class="custom-control-label" for="Diseñador">Diseñador</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Secretario" (change)="agregarOcupacion($event)">
                        <label class="custom-control-label" for="Secretario">Secretario</label>
                    </div>


                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Ingeniero" (change)="agregarOcupacion($event)">
                        <label class="custom-control-label" for="Ingeniero">Ingeniero</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Desarrollador" (change)="agregarOcupacion($event)">
                        <label class="custom-control-label" for="Desarrollador">Desarrollador De Software</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Lincenciado" (change)="agregarOcupacion($event)">
                        <label class="custom-control-label" for="Lincenciado">Lincenciado</label>
                    </div>
                </div>

                <br>

                <h2 class="text-align: justify">Cuantas horas le dara de uso</h2>
                <div class="centrar">
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="1_o_menos" name="groupOfDefaultRadios1" (change)="agregarHora($event)">
                        <label class="custom-control-label" for="1_o_menos">1 o menos</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="1-4" name="groupOfDefaultRadios1" (change)="agregarHora($event)">
                        <label class="custom-control-label" for="1-4">1-4</label>
                    </div>

                    <!-- Group of default radios - option 2 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="4-8" name="groupOfDefaultRadios1" (change)="agregarHora($event)">
                        <label class="custom-control-label" for="4-8">4-8</label>
                    </div>

                    <!-- Group of default radios - option 3 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="8-12" name="groupOfDefaultRadios1" (change)="agregarHora($event)">
                        <label class="custom-control-label" for="8-12">8-12</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="12_o_mas" name="groupOfDefaultRadios1" (change)="agregarHora($event)">
                        <label class="custom-control-label" for="12_o_mas">12 o mas</label>
                    </div>
                </div>

                <br>

                <h2 class="text-center">Presupuesto</h2>
                <div class="centrar">
                    <input required type="number" required name="Presupuesto" [(ngModel)]="preferencias.presupuesto" class="form-control mb-4" placeholder="Presupuesto" />
                </div>

                <br>

                <h2 class="text-center">Cuanto piensa usar su compu?</h2>
                <div class="centrar">
                    <div class="custom-control custom-switch">
                        <input type="radio" required class="custom-control-input" id="Bajo" name="groupOfDefaultRadios2" (change)="agregarUso($event)">
                        <label class="custom-control-label" for="Bajo">Muy poco</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Bajo-Medio" name="groupOfDefaultRadios2" (change)="agregarUso($event)">
                        <label class="custom-control-label" for="Bajo-Medio">Poco</label>
                    </div>

                    <!-- Group of default radios - option 2 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Medio" name="groupOfDefaultRadios2" (change)="agregarUso($event)">
                        <label class="custom-control-label" for="Medio">Medio uso</label>
                    </div>

                    <!-- Group of default radios - option 3 -->
                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Medio-Alto" name="groupOfDefaultRadios2" (change)="agregarUso($event)">
                        <label class="custom-control-label" for="Medio-Alto">Bastante</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="radio" class="custom-control-input" id="Alto" name="groupOfDefaultRadios2" (change)="agregarUso($event)">
                        <label class="custom-control-label" for="Alto">Demasiado</label>
                    </div>
                </div>

                <br>

                <h2 class="text-center">Edad</h2>
                <div class="centrar">
                    <input required type="number" [(ngModel)]="preferencias.edad" name="Edad" class="form-control mb-4" placeholder="Edad" />
                </div>

                <br>

                <h2 class="text-center">Que tipo de uso le da regularmente</h2>
                <!-- <div class="centrar"> -->
                <input required type="text" name="uso" class="form-control mb-4" placeholder="Uso" />
                <!-- </div> -->

                <h2 class="text-center">Marca de equipo preferida</h2>
                <div class="centrar">

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" checked id="HP" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="HP">Hp</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" checked id="DELL" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="DELL">Dell</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="TOSHIBA" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="TOSHIBA">Toshiba</label>
                    </div>

                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ASUS" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="ASUS">Asus</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="LENOVO" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="LENOVO">Lenovo</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="SAMSUNG" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="SAMSUNG">Samsung</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="APPLE" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="APPLE">Apple</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ACER" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="ACER">Acer</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="ALIENWARE" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="ALIENWARE">Alienware</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="GATEWAY" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="GATEWAY">Gateway</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="LANIX" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="LANIX">Lanix</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="OTRA" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="OTRA">Otra</label>
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="NINGUNA" (change)="agregarMarcaPreferencia($event)">
                        <label class="custom-control-label" for="NINGUNA">Ninguna</label>
                    </div>
                </div>

                <br>

                <h2 class="text-center">Seccion de caracteristicas</h2>

                <br>

                <h2 class="text-center">Color que le gustaria</h2>
                <input type="text" name="color" [(ngModel)]="preferencias.color" class="form-control mb-4" placeholder="color">

                <div class="centrar">
                    <!-- <input type="text" required type="text" name="Color" class="form-control mb-4" placeholder="Color" [(ngModel)]="colores" /> -->
                    <!-- <input required type="text" name="Color" class="form-control mb-4" placeholder="Color" (change)="cadenaColor(preferencias.color)" /> -->
                    <!-- <input required type="number" required name="Presupuesto" [(ngModel)]="preferencias.presupuesto" class="form-control mb-4" placeholder="Presupuesto" /> -->
                    <!-- <input type="text" > -->
                    <p> Marca: {{ preferencias.color }} <strong>:v</strong> </p>

                    <!-- <input type="text" name="color" [(ngModel)]="computadora.color" class="form-control mb-4" placeholder="color"> -->
                    <!-- <p> Marca: {{ colores }} <strong>:v</strong> </p>  -->
                </div>
                <br>
                <!-- <h2 class="text-center">Tamaño de la pantalla</h2>
              <div class="centrar">
                  <input required type="text" name="Tamaño" class="form-control mb-4" placeholder="Tamaño" />
              </div> -->
                <br>
                <h2 class="text-center">Cantidad de almacenamiento</h2>
                <div class="centrar">
                    <input required type="text" name="almacenamiento" class="form-control mb-4" placeholder="Almacenamiento" [(ngModel)]="preferencias.almacenamiento" />
                </div>
                <br>

                <div class="container">
                    <!-- CODIGO DEL AREA DE TEXTO -->
                    <!-- <div class="media mt-3 shadow-textarea">
                        <div class="media-body">
                            <div class="form-group basic-textarea rounded-corners">
                                <textarea [(ngModel)]="areaText" class="form-control z-depth-1" id="exampleFormControlTextarea345" rows="6" placeholder="Descripcion De Tu Equipo Perpecto">
                                </textarea>
                            </div>
                        </div>
                    </div> -->
                    <!-- CODIGO PARA COMPROBAR QUE SI FUNCIONA LO QUE SE ESCRIBE -->
                    <!-- <p> Marca: {{ areaText }} <strong>:v</strong> </p> -->
                    <!-- CODIGO PARA COMPROBAR QUE SI FUNCIONA LO QUE SE ESCRIBE -->


                    <!-- <input type="text" required type="text" name="Color" class="form-control mb-4" placeholder="Color" [(ngModel)]="colores" /> -->
                    <!-- <div class="media">
                        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg" alt="Avatar">
                        <div class="media-body">
                            <h5 class="mt-0 font-weight-bold blue-text">Anna Smith</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                    <div class="media">
                        <img class="d-flex rounded-circle avatar z-depth-1-half mr-3" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-10.jpg" alt="Avatar">
                        <div class="media-body">
                            <h5 class="mt-0 font-weight-bold blue-text">Caroline Horwitz</h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis odit minima eaque dignissimos recusandae officiis commodi nulla est, tempore atque voluptas non quod maxime, iusto, debitis aliquid? Iure ipsum, itaque.
                        </div>
                    </div> -->
                </div>
                <!-- codigo para escribir en un lado y pasarlo en el otro automaticamente
              <input type="text" name="color" [(ngModel)]="computadora.color" class="form-control mb-4" placeholder="color">
          <p> Marca: {{ computadora.color }} <strong>:v</strong> </p> -->


                <!-- <h2 class="text-center">Tamaño del equipo</h2>
              <div class="centrar">
                  <input required type="number" name="tamanoequipo" class="form-control mb-4" placeholder="Tamaño Del equipo" [(ngModel)]="preferencias.ta"/>
              </div> -->

                <div class="modal-footer rem-dimensions">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" (click)="sugerirPc()">Procesar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA DE CARACTERISTICAS DEL ORDENADOR PORTATIL -->
<!-- <ng-container > -->
<!-- <div class="row"> -->

<div class="container">
    <div class="row">
        <div class="mt-5 col-12 col-sm-12 col-md-4 col-lg-4">
            <div class="modal fade" id="caracteristicas" tabindex="-1" role="dialog" aria-labelledby="caracteristicasTittle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document" *ngFor="let computador of computadoras;let o = index">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="caracteristicasTittle">Caracteristicas Del Ordenador Portatil</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                        </div>
                        <div class="modal-body">
                            <h5 class="left"> Marca: {{ computador.marca }}</h5>

                            <h5 class="left"> Modelo: {{ computador.modelo }}</h5>
                            <h5 class="left"> <strong>Almacenamiento <br>({{computador.tipoAlmacenamineto}}):</strong> {{ computador.almacenamiento }}</h5>
                            <h5 class="left"> Ram: {{ computador.ram }}</h5>
                            <h5 class="left"> Velocidad CPU: {{ computador.velocidadCpu }}</h5>
                            <h5 class="left" *ngIf="computador.lectorCD"> Lector CD: SI</h5>
                            <h5 class="left"> Entradas De Video: {{ computador.video }}</h5>
                            <!-- <h5 class="left"> Tarjeta Integrada: {{ computador.tajetaIntegrada }}</h5> -->
                            <!--  <h5 class="left" *ngIf="computador.tajetaDedicada"> Tarjeta Dedicada: {{ computador.modeloTarjetaVideo }}</h5>
                  <h5 class="left"> <strong>Tamaño De La Pantalla <br> (Inches - Pulgadas):</strong> {{ computador.tamanoPantalla }}</h5>
                  <h5 class="left"> Resolucion: {{ computador.resolucion }}</h5>
                  <h5 class="left"> Ancho: {{ computador.ancho }}</h5>
                  <h5 class="left"> Alto: {{ computador.alto }}</h5>
                  <h5 class="left"> Peso: {{ computador.peso }}</h5>
                  <h5 class="left"> Sistema Operativo: {{ computador.sistemaOperativo }}</h5>
                  <h5 class="left"> Usb 2.0: {{ computador.usb2 }}</h5>
                  <h5 class="left"> Usb 3.0: {{ computador.usb3 }}</h5> -->
                            <div class="modal-footer rem-dimensions">
                                <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                                <!-- <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" (click)="sugerirPc()">Procesar</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- TERCERA VENTANA SOBREPOSICIONADA -->
<div class="modal fade" id="especificPc" tabindex="-1" role="dialog" aria-labelledby="especificPCTitile" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="especificPCTitile">Especificaciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
            </div>
            <!-- CODIGO DE LA PC ESPECIFICA -->
            <div class="modal-body">
                <h5 class="left"> MARCA: {{ computador.marca }}</h5>

                <h5 class="left"> MODELO: {{ computador.modelo }}</h5>
                <h5 class="left"> PRECIO: {{ computador.precio }}</h5>
                <h5 class="left"> COLOR: {{ computador.color }}</h5>
                <h5 class="left"> ALMACENAMIENTO: {{ computador.almacenamiento }}</h5>
                <!-- <h5 class="left"> <strong>Almacenamiento <br>({{computador.tipoAlmacenamineto}}):</strong> {{ computador.almacenamiento }}</h5>
                <h5 class="left"> Ram: {{ computador.ram }}</h5>
                <h5 class="left"> Velocidad CPU: {{ computador.velocidadCpu }}</h5>
                <h5 class="left" *ngIf="computador.lectorCD"> Lector CD: SI</h5>
                <h5 class="left"> Entradas De Video: {{ computador.video }}</h5> -->

                <div class="modal-footer rem-dimensions">
                    <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cancelar</button>
                    <!-- <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" (click)="sugerirPc()">Procesar</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <script>

</script> -->
<!-- </div> -->
<!-- </ng-container> -->
