/* You can add global styles to this file, and also import other style files */

.dimensiones {
    /*ancho*/
    width: auto;
    /*alto*/
    height: auto;
    // margin: auto;
    margin-left: auto;
    margin-right: auto;
    // align-content: center;
}

.size {
    // margin: auto;
    // width: auto;
    /*ancho*/
    width: auto;
    /*alto*/
    height: 550px;
    // margin-left: auto;
    // margin-right: auto;
    align-content: center;
    // padding: 1%;
    // display: flex;
    // justify-content: center;
}

.centrar-div {
    // background-color: yellow;
    /* IMPORTANTE */
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    // height: 1000px;
}

.padin {
    padding: 0px;
    // width: 120px;
}

.justyfy {
    width: auto;
    /*alto*/
    height: auto;
    // margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.centrar {
    // background-color: yellow;
    /* IMPORTANTE */
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.app-scroll::-webkit-scrollbar {
    overflow: scroll;
    // height: 270px;
    /*background:gray;*/
    // padding: 5px;
    display: none;
}

body {
    background: #eee;
}

span {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #0062cc;
    border-bottom: 2px solid #0062cc;
}

.box {
    padding: 60px 0px;
}

.box-part {
    background: #FFF;
    border-radius: 0;
    padding: 60px 10px;
    margin: 30px 0px;
}

.text {
    margin: 20px 0px;
}

.fa {
    color: #4183D7;
}