/* You can add global styles to this file, and also import other style files */

.dimensiones {
    /*ancho*/
    width: auto;
    /*alto*/
    height: auto;
    // margin: auto;
    margin-left: auto;
    margin-right: auto;
    // align-content: center;
}

.size {
    // margin: auto;
    // width: auto;
    /*ancho*/
    width: auto;
    /*alto*/
    height: 550px;
    // margin-left: auto;
    // margin-right: auto;
    align-content: center;
    // padding: 1%;
    // display: flex;
    // justify-content: center;
}

.centrar-div {
    // background-color: yellow;
    /* IMPORTANTE */
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    // height: 1000px;
}

.padin {
    padding: 0px;
    // width: 120px;
}

.justyfy {
    width: auto;
    /*alto*/
    height: auto;
    // margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.centrar {
    // background-color: yellow;
    /* IMPORTANTE */
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.sizeImg {
    /*ancho*/
    width: 300;
    /*alto*/
    height: 300;
}

.sizeCard {
    /*ancho*/
    // display: flex;
    width: 300px;
    /*alto*/
    height: 300px;
}